* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/******************************************************
 *  UTILITY CLASSES
 *****************************************************/
  .hidden {
    display: none;
  }
  .no-select,
  .no-select * {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */ 
  }
 /****************************************************/
 .main-container {
   margin-top: 50px;
 }
.contents-container {
  margin-left: 210px;
  transition: all .5s linear .1s;
}
.headbar {
  height: 50px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #fff;
  z-index: 999;
}
.logo-container {
  height: 100%;
  overflow: hidden;
  display: inline-block;
}
.logo-container .logo-anchor {
  display: block;
  height: 100%;
  padding: 5px 10px;
}
.logo-container .logo-anchor img {
  height: 100%;
  display: block;
}
.leftbar {
  float: left;
  width: 200px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px 15px;
  transition: all .5s linear .1s;
  overflow: hidden;
}

.leftbar-collapsed .leftbar {
  width: 0;
  padding: 0;
}

.leftbar-collapsed .contents-container {
  margin-left: 1px;
}

.left-bar-title {
  font-size: 20px;
}

.leftbar-collapser {
  position: absolute;
  font-size: 18px;
  z-index: 9;
  color: #fff;
  display: inline-block;
  /* background: rgba(255, 0, 0, 0.75); */
  padding: 10px 9px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  left: 160px;
  top: 60px;
  transition: all .5s linear .1s;
}

.leftbar-collapsed .leftbar-collapser {
  left: 5px;
}

.content-item .card {
  overflow: hidden;
}

.content-item .card .card-image .item-img {
  max-height: 160px;
  width: auto;
  margin: 5px auto;
  max-width: 100%;
}

.content-item .card .card-content {
  height: 95px;
  overflow: hidden;
}

/******************************************************
 *  CATEGORY FILTER CLASSES
 *****************************************************/
 .category-filter ul {
   padding-left: 15px;
 }
 .category-filter .arrow-icon {
   font-size: 14px;
 }
 .category-filter .cat-item {
   cursor: pointer;
 }
 /****************************************************/